/* ########## List of restaurants ########## */
.list-restaurant-container {
    display: grid;  
}

.list-restaurant-img {
    margin-top: 10px;
    
}

.list-restaurant-name {
    
}

.list-restaurant-neighborhood {
    
}

.list-restaurant-address {
    
}

.list-restaurant-more {
    
}


/* ########## Single restaurant ########## */
.restaurant-name {
    
}

.restaurant-address {
    
}

.restaurant-img {
    border-radius: 20px 0;
    
}

.restaurant-cuisine {
    
}

.restaurant-hours {
    
}
    
    #reviews-list {
        padding: 0;
    }